<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>bcs-core</id>
      <username>BCSOPS</username>
      <password>w5toin4iakczcaobpuyrhcz2ywgykmfrh6q6ipicmujeggkc75lq</password>
    </server>
    <server>
      <id>uptodate-core-artifact</id>
      <username>uptodatepre</username>
      <password>cfutvn4yyoxmwgq2p6xh2oapgtflj4ixr4hog2nmnjsx5n2vgdvq</password>
    </server>
    <server>
      <id>uptodate-genai</id>
      <username>uptodatepre</username>
      <password>cfutvn4yyoxmwgq2p6xh2oapgtflj4ixr4hog2nmnjsx5n2vgdvq</password>
    </server>
      <server>
          <id>github</id>
          <username>adiixxx96</username>
          <password>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</password>
      </server>
  </servers>
</settings>