<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/common/head :: head(extraCss=~{::link}, extraJs=null, extraMeta=null)">
	<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
</head>
<body>
	<header
		th:replace="fragments/common/header :: header">
	</header>

<!-- 	Carrusel -->
	<div id="carouselHome" class="carousel slide" data-bs-ride="carousel">
	  <div class="carousel-indicators">
	    <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
	    <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="1" aria-label="Slide 2"></button>
	    <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="2" aria-label="Slide 3"></button>
	  </div>
	  <div class="carousel-inner">
	    <div class="carousel-item active">
	      <img src="../../images/carrusel1.jpg" class="d-block w-100" alt="Imagen carrusel">
	      <div class="carousel-caption d-none d-md-block mb-4">
        	<h3 th:text="#{home.carousel.caption1}">Apúntate a planes y eventos que están sucediendo en tu ciudad</h3>
      		</div>
	    </div>
	    <div class="carousel-item">
	      <img src="../../images/carrusel2.jpg" class="d-block w-100" alt="Imagen carrusel">
	      <div class="carousel-caption d-none d-md-block mb-4">
        	<h3 class="text-body-bold" th:text="#{home.carousel.caption2}">Conecta con personas con tus mismos intereses</h3>
      		</div>
	    </div>
	    <div class="carousel-item">
	      <img src="../../images/carrusel3.jpg" class="d-block w-100" alt="Imagen carrusel">
	      <div class="carousel-caption d-none d-md-block mb-4">
        	<h3 th:text="#{home.carousel.caption3}">Descubre nuevos hobbies y aficiones y ábrete a nuevas experiencias</h3>
      		</div>
	    </div>
	  </div>
	  <button class="carousel-control-prev" type="button" data-bs-target="#carouselHome" data-bs-slide="prev">
	    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    <span class="visually-hidden">Previous</span>
	  </button>
	  <button class="carousel-control-next" type="button" data-bs-target="#carouselHome" data-bs-slide="next">
	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	    <span class="visually-hidden">Next</span>
	  </button>
	</div>
	
<!-- 	Eventos populares -->
<h2 th:text="#{home.events.title}" class="text-body text-center section-title">Eventos populares</h2>

	<footer th:replace="fragments/common/footer :: footer"></footer>
</body>
</html>