<html xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="footer" >
	<nav class="navbar navbar-expand-lg bg-body">
  		<div class="container-fluid w-90 d-flex flex-row justify-content-between align-items-center">
  		
  			<div class="social-networks">
  				<i class="fa-brands fa-facebook fa-xl" style="color: #ffffff; padding-right:30px;"></i>
  				<i class="fa-brands fa-instagram fa-xl" style="color: #ffffff; padding-right:30px;"></i>
  				<i class="fa-brands fa-twitter fa-xl" style="color: #ffffff;"></i>
  			</div>

      	
	      	<div id="navbarLoggedContent" class="d-flex flex-row justify-content-evenly align-items-center">
	    		<a href="/contactUs/" class="btn btn-link align-content-center text-decoration-none btn-sm text-disabled">
	    			<span th:text="#{footer.contact.link}">Contáctanos</span>
	  			</a>
	  			<span class="vertical-bar"></span>
	  			<a href="/aboutUs/" class="btn btn-link align-content-center text-decoration-none btn-sm text-disabled">
	    			<span th:text="#{footer.aboutus.link}">Sobre nosotros</span>
	  			</a>
	  			 <span class="vertical-bar"></span>
	  			<a href="/privacyPolicy/" class="btn btn-link align-content-center text-decoration-none btn-sm text-disabled">
	    			<span th:text="#{footer.privacy.link}">Política de privacidad</span>
	  			</a>			
	    	</div>
	    	
	    	<div class="logo-copyright d-flex flex-column align-items-end">
	      			<img src="../../images/logo-multicolor-small.png" alt="Logo" class="d-inline-block">
	      			<span class="text-light">© adapiedrafita</span>
	      			
	    	</div>
  		</div>
</nav>
	
</footer>