
<div th:fragment="messagesJs" class="mt-4">
    <div class="alert alert-success alert-dismissable fade show d-flex justify-content-between" role="alert">
        <label id="jsSuccessMessage" class="pr-4"></label>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="alert alert-danger alert-dismissable fade show d-flex justify-content-between" role="alert">
        <label id="jsErrorMessage" class="pr-4"></label>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>	
</div>