@charset "UTF-8";

/* ********************Colors******************** */

/* Background */
.bg-body {
	background-color: #464F51 !important;
}
.bg-primary {
	background-color: #0FF4C6 !important;
}
.bg-secondary {
	background-color: #D68FD6 !important;
}
.bg-secondary-light {
	background-color: #EBC6EB !important;
}
.bg-tertiary {
	background-color: #DEFFF2 !important;
}
.bg-light {
	background-color: #FFFFFF !important;
}

.bg-danger {
	background-color: #fe1063 !important;
}

.bg-body-hover {
	background-color: #555E60;
}

/* text */
.text-body {
	color: #464F51 !important;
}
.text-body-bold {
	color: #464F51 !important;
	font-weight: bold;
}
.text-light {
	color: #FFFFFF !important;
}

.text-light-bold {
	color: #FFFFFF !important;
	font-weight: bold;
}
.text-disabled {
	font-weight: normal !important;
	color: #FFFFFF !important;
}

/* Buttons */
.btn-body {
	background-color: #464F51 !important;
	border-color: #464F51 !important;
}
.btn-primary {
	background-color: #0FF4C6 !important;
	border-color: #0FF4C6 !important;
}
.btn-primary:hover {
	background-color: #0dd0b3 !important;
	border-color: #0dd0b3 !important;
}
.btn-secondary {
	background-color: #D68FD6 !important;
	border-color: #D68FD6 !important;
}
.btn-secondary:hover {
	background-color: #be6ca9 !important;
	border-color: #be6ca9 !important;
}
.btn-tertiary {
	background-color: #DEFFF2 !important;
	border-color: #DEFFF2 !important;
}

.btn-danger {
	background-color: #fe1063 !important;
	border-color: #fe1063 !important;
}

.btn-light {
	background-color: #FFFFFF !important;
	border-color: #FFFFFF !important;
}

.btn-outline-primary {
	border: 3px solid #0FF4C6 !important;
}

.btn-outline-primary:hover {
	background-color: #0FF4C6 !important;
}

.btn-outline-secondary {
	border: 3px solid #D68FD6 !important;
}

.btn-outline-secondary:hover {
	background-color: #D68FD6 !important;
}

.btn-outline-danger {
	border: 3px solid #fe1063 !important;
}

.btn-outline-danger:hover {
	background-color: #fe1063 !important;
}

.btn-outline-dark {
	border: 3px solid #464F51 !important;
}

.btn-outline-dark:hover {
	border: 3px solid #fe1063 !important;
	background-color: transparent;
}

.btn-shadow:hover, .btn-shadow.active {
	cursor: pointer;
	background-color: #fff;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	border: none;
	border-radius: 10px;
}

.btn-empty {
	background-color: transparent;
	border: none;
}

.btn-empty:hover {
	text-decoration: underline;
}

/* ********************Text and content disposition******************** */
body {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	height: 100%;
	min-height: 100vh;
	display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body.with-menu {
	padding-top: 76px
}

main {
	flex-grow: 1;
}

/* ********************Width, Heights and Spacing******************** */
.w-90 {
	width: 90%;
}
.w-80 {
	width: 80%;
}

.section-title {
	margin-left: 0;
	margin-right:0;
	margin-top: 60px;
	margin-bottom: 40px;
}

.mt-20-negative {
    margin-top: -20px;
}

/* ********************Calendars******************** */
.daterangepicker .active, 
.daterangepicker .active:hover {
	background-color:  #D68FD6 !important;
}

/* ********************Cursor******************** */
button, a{
	cursor: pointer;
}

/* ********************Pagination******************** */

.pagination .page-link {
    border-color: #D68FD6;
    color: #464F51;
}
.pagination .page-link:hover {
    background-color: #EBC6EB;
    border-color: #D68FD6;
    color: #464F51;
}
.pagination .page-item.active .page-link {
    background-color: #EBC6EB !important;
    border-color: #D68FD6 !important;
    color: #464F51 !important;
    box-shadow: none !important;
    outline: none !important;
}

.pagination .page-link[disabled] {
  cursor: not-allowed;
  pointer-events: none;
}

.pagination .page-link[disabled]:hover {
  border-color: #D68FD6;
  color: #464F51;
  background-color: transparent;
}

/* ********************Display******************** */
.show-important {
    display: flex !important;
}

.hide-important {
    display: none !important;
}

/* ********************Disable link******************** */
.disabled-link {
      pointer-events: none;
      cursor: default;
      text-decoration: none;
   }
   
/*About us and contact us*/
#aboutus-container {
  width: 70%;             
  margin: 0 auto;
}

img.about-us {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

#aboutus-container p {
	font-size: 15px;
}

#contactUsForm input, #contactUsForm textarea {
	background-color: transparent;
	border: 1px solid #464F51;
	box-sizing: border-box;
	outline: none;
}

#contactUsForm input:focus, #contactUsForm textarea:focus { 
	background-color: transparent;
	border: 2px solid #0FF4C6;
	box-sizing: border-box;
	outline: none !important;
	outline-width: 0 !important;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

#contactUsForm textarea#description::placeholder {
	color: #FFF;
	filter: brightness(85%);
}

