@charset "UTF-8";

.login-form {
	width: 60%;
  	justify-content: center;
  	align-items: center;
  	margin: 0 auto;
}

.loginBtn {
	width: 150px;
	font-weight: bold;
	margin:0 auto;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #464F51;
  padding: 5px;
  min-width: 450px;
  box-sizing: border-box;
  outline: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #D68FD6;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  outline:none !important;
 outline-width: 0 !important;
 box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
}

input {
	font-size: 14px !important;
	filter: brightness(85%);
	margin-top: 5px;
}

.input-with-icon input::placeholder {
	color: #FFF;
	filter: brightness(85%);
}

.form-check-label {
	filter: brightness(85%);
}

.input-with-icon,
.input-with-icon-right {
    position: relative;
}

.input-with-icon input {
   	padding-left: 40px;
}

.input-with-icon input:focus {
   	padding-left: 40px;
}

.input-with-icon i {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: #D68FD6;
}

.input-with-icon-right input {
    padding-right: 40px;
}

.input-with-icon-right i {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: #D68FD6;
    cursor: pointer;
}